{% extends 'app/base.html' %}


{% block head %}
    <title>Checkout</title>
    <style>
        input[type = 'submit']{
            color: #333333;
            background: #159fdc;
            transition: all .2s ease-in-out;
            border-radius: 2px;
        }
        input[type = 'submit']:hover{
            color: #159fdc;
            background: #333333;
        }
        /* Seperations */
        .sep-1, .sep-2{
            display: grid;
            grid-template-columns: 1.5fr 1fr;
        }
        .sep-1 > p:last-child, .sep-2 > p:last-child{
            text-align: right;
        }
        .sep-1 p{
            color: #333333;
        }
        .sep-2 p{
            font-size: 13px;
            color: lightslategray;
        }
        .sep-1:last-child p{
            color: #159fdc;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid" style="margin-top: 120px">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                      <form action="." method="post">
                         <p id="form-error" class = 'alert'></p>
                          {% csrf_token %}
                          <!-- Total -->
                          <input type="hidden" name="total">
                          <!-- Payment Reference -->
                          <input type="hidden" name="reference">
                          <div class="row">
                            {% for field in form %}
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{field.label_tag}}
                                        {{field}}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div style = 'max-width: 400px;margin: 20px auto'>
                            <input type="submit" id="pay" value="Continue To Payment" class="btn btn-block">
                        </div>
                      </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5 mt-md-0 mb-5 mb-md-0">
                <div class="card" style="border: thin dashed lightslategray">
                    <div class="card-body">
                        <p>Your Order</p>
                        <hr class="border-secondary">
                        <div class="sep-1">
                            <p>Product</p>
                            <p>Total</p>
                        </div>
                        {% for good in cart_items %}
                            <div class="sep-2">
                                <p>{{ good.product.name }}</p>
                                <p class="good {{good.quantity}}-{{good.product.price}}"></p>
                            </div>
                        {% endfor %}
                        <hr>
                        <div class="sep-1">
                            <p>Subtotal:</p>
                            <p id="subtotal"></p>
                        </div>
                        <hr>
                        <div class="sep-2">
                            <p>Shipping:</p>
                            <p>Free Shipping</p>
                        </div>
                        <hr>
                        <div class="sep-1">
                            <p>Total</p>
                            <p id="total"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
   <script src="https://js.paystack.co/v1/inline.js"></script>
    <script>
        // A function that invokes when the page reloads
        let callWhenPageReloads = () => {
            let cartSubtotal = 0;
            // Subtotal for each good
            $('.good').each(function(){
                let subtotal = Number($(this).attr('class').slice(5,).split('-')[0]) * Number($(this).attr('class').slice(5,).split('-')[1]);
                cartSubtotal += subtotal;
                subtotal = String(subtotal).split('.');
                if(subtotal.length > 1){
                    subtotal[1] = subtotal[1].slice(0,2).padEnd(2,'0');
                }
                else{
                    subtotal.push('00');
                }
                $(this).html(`GHC ${subtotal.join('.')}`);
            });
            
            // Subtotal for all the goods in the cart
            cartSubtotal = String(cartSubtotal).split('.');
            if(cartSubtotal.length > 1){
                cartSubtotal[1] = cartSubtotal[1].slice(0,2).padEnd(2,'0');
            }
            else{
                cartSubtotal.push('00');
            }
            $('#subtotal').html(`GHC ${cartSubtotal.join('.')}`);
            
            // Total for all the items in the cart and the shipping fees
            $('#total').html(`GHC ${cartSubtotal.join('.')}`);
            $('input[name = total]').val(cartSubtotal.join('.'));
        }
        callWhenPageReloads()

        // A function that allows the user to make payments
        let payment = () => {
            $('#pay').click(function(ele){
                ele.preventDefault();
                let emailRegex = /^[a-zA-Z][a-zA-Z\d]+@[a-z]+\.[a-z]{3}(\.[a-z]{2,6})?$/;
                // Get the form data
                let firstName = $('#id_first_name').val();
                let lastName = $('#id_last_name').val();
                let country = $('#id_state_or_country').val();
                let town = $('#id_town_or_city').val();
                let phone = $('#id_phone').val();
                let email = $('#id_email').val();
                if(firstName && lastName && country && town && phone && emailRegex.test(email)){
                    console.log("Alright");
                    // Total
                    let total = Number($('input[name = total]').val()) * 100;
                    let form = $(this).parents('form');
                    // Submit the form
//                    form.submit()
                    console.log(total);
//                     Pay through paystack
                    let handler = PaystackPop.setup({
                        key: "pk_test_dd1150330d138de167b39d9be0b180ee8b10319f",
                        email: email,
                        currency: 'GHS',
                        channels: ['card','mobile_money'],
                        amount: total,
                        callback: function(response){
                            if(response.reference){
                                // Get the transaction reference
                                $('input[name = reference]').val(response.reference);
                                // Submit the form
                                form.submit();
                            }
                        }
                    });

                    handler.openIframe();
                }
                else{
                    $('#form-error').text("Make sure you have provided the appropriate information for the input fields.").addClass('alert-danger');
                }
            });
        }
        payment();
    </script>
{% endblock %}
